@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
:root {
  /* ---------- FONT ---------- */
  --font-family-hedvig: 'Hedvig Letters Serif', serif;
  --font-family-sans: 'Open Sans', sans-serif;

  /* ---------- COLORS ---------- */

  --lime-50: #f7fee7;
  --lime-100: #ecfccb;
  --lime-200: #d9f99d;
  --lime-300: #bef264;
  --lime-400: #a3e635;
  --lime-500: #84cc16;
  --lime-600: #65a30d;
  --lime-700: #4d7c0f;
  --lime-800: #3f6212;
  --lime-900: #365314; /*pincipal*/
  --lime-950: #1a2e05;
}
body{
    background-color: var(--lime-100);
}

.main {
    display: grid;
}
/* ----- HEADER ----- */
.header {
}
.nav {
}
.nav-book__img {
}
.nav-menu__img {
}
/* ----- BROWSER ----- */
.browser {
}
.browser__label {
}
.browser__precio {
}
/* ----- MAIN CARD ----- */
.section-main {
}
.section__card {
}
.section__card--author {
}
.card__text {
}
.section__card--h3 {
}
.section__card--img {
}
.section__card--price {
}
.section__card--button {
}
/* ----- PAGINACION ----- */
.section-paginacion {
}
.section__ul {
}
.section__ul--li {
}
.section--li__a {
}
/* ----- FOOTER ----- */

.footer {
}
.footer--main__rss {
}
.footer__img {
}
.footer__main {
}
.footer__p {
}